
version: "3.8"

services:
  database:
    build:
      context: ./docker/postgres
      dockerfile: Dockerfile
    container_name: palmaray_db
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - palmaray_pgdata:/var/lib/postgresql/data
    restart: unless-stopped
  app:
    build:
      context: ./docker/app
      dockerfile: Dockerfile
    container_name: palmaray_app
    env_file:
      - .env
    environment:
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - DB_NAME=${DB_NAME}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_SSL=${DB_SSL}
      - TG_TOKEN=${TG_TOKEN}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - SECRET_KEY=${SECRET_KEY}
    depends_on:
      - database
    restart: unless-stopped

volumes:
  palmaray_pgdata:
    driver: local
