[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
attrs = "*"
fastapi = "*"
pydantic = "*"
pydantic-settings = "*"
SQLAlchemy = "*"
alembic = "*"
asyncpg = "*"
greenlet = "*"
aiogram = "*"
python-telegram-bot = "*"
langchain = "*"
openai = "*"
langgraph = "*"
pgvector = "*"
langchain-openai = "*"
cryptography = "*"
taskiq = "*"
taskiq-redis = "*"

[dev-packages]
mypy = "*"
black = "*"
ruff = "*"
isort = "*"

[scripts]
format = "sh -c 'isort . && ruff check --fix . && black .'"
mypy = "mypy"
check = "sh -c 'ruff check . && mypy .'"
main = "python main.py"
broker = "python -m broker"
