name: mypy

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  mypy:
    name: Run mypy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install pipenv
        run: python -m pip install --upgrade pip pipenv
      - name: Install dependencies
        run: pipenv install --deploy --dev
      - name: Run mypy
        run: pipenv run mypy .
